* {
    /* Tira o espaçamento interno de toda a página. */
    padding: 0;
    /* Tira a margin de toda a página. */
    margin: 0;

    /* Variável que recebe uma cor. */
    --fundo: #D9CEE0;
    --rosa: #B76656;
}

body {
    /* A cor do background recebe a variável de '--fundo'. */
    background-color: var(--fundo);
}

.faixa {
    display: flex;
    margin: 1em 6em;
}

.foto {
    width: 100%;
    margin: 1em;
    text-align: center;
}

.foto img {
    border-bottom: 3px solid var(--rosa);
    width: 100%;
}

.foto-imagem {
    border-bottom: 0.3em solid var(--rosa);
}

.foto span {
    width: 100%;
}

.foto a {
    font-size: 1.5em;
    color: black;
    text-decoration: none;    
}