* {
    /* Tira o espaçamento interno de toda a página. */
    padding: 0;
    /* Tira a margin de toda a página. */
    margin: 0;

    /* Variável que recebe uma cor. */
    --fundo: #D9CEE0;
    --rosa: #B76656;
}

body {
    /* A cor do background recebe a variável de '--fundo'. */
    background-color: var(--fundo);
}

.faixa {
    /* Modo de exibição: flex (Um componeste do lado de outro). */
    display: flex;
    /* Define a margin superior e inferior com 1em e as laterais com 6em. */
    margin: 1em 6em;
}

.foto {
    width: 100%;
    margin: 1em;
    text-align: center;
}

.foto img {
    /* Define uma borda em baixo do componente do tipo solid, com espessura de 3px e cor --rosa. */
    border-bottom: 3px solid var(--rosa);
    width: 100%;
}

.foto-imagem {
    border-bottom: 0.3em solid var(--rosa);
}

.foto span {
    width: 100%;
}

.foto a {
    font-size: 1.3em;
    color: black;
    /* Tira a faixa em baixo do link. */
    text-decoration: none;    
}

.foto-texto {
    font-family: 'Prata', serif;
    margin-top: 1em;
}