* {
    margin: 0;
    padding: 0;
    
    --branco-azulado: #C6DCF2;
}

body {
    background-color: #1A1F23;
    
     /* Imagem de fundo */
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.menubar {
    background-color: #172533;
    min-height: 4em;
    padding: 1em;
    display: flex;
}

.menulogo, .menusouce {
    width: 5%;
}

.menucontent {
    width: 90%;
    font-family: Consolas;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0em 1em;
}

.menucontent a {
    color: #C6DCF2;
    text-decoration: none;
}

.menulogo img, .menusouce img {
    border-radius: 50%;
    width: 100%;
}

.menusouce img {
    float: right;
}

.menusouce {
    float: right;
}

.conteudo {
    margin: 2em;
}

.conteudo-row {
    display: flex;
    align-items: stretch;
}

.bloco {
    margin: 1em;
    background-color: #172533;
    border: .1em solid #748FA8;
    border-radius: 1em;
    padding: 1em;
    width: 25%;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}

.bloco-titulo {
    color: #C6DCF2;
    font-size: 1em;
    margin-bottom: 0.5em;
}

.bloco-conteudo img {
    border-radius: 1em;
    width: 100%;
}

.bloco-butao {
    text-align: center;
    border: 0.3em solid #306899;
    border-radius: 1em;
    background-color: #123456;
}

.bloco-butao a {
    width: 100%;
    color: #C6DCF2;
    text-decoration: none;
}

footer {
    display: flex;
    background-color: #172533;
    min-height: 5em;
    padding: 2em;
}

#redes-sociais {
    width: 100%;
    text-align: center;
}

#redes-sociais a {
    text-decoration: none;
    margin: 0em 0.5em;
}

#redes-sociais img {
    width: 2.5em;
    border-radius: 50%;
}

.vulcao {
    display: flex;
    margin: 2em;
    border: .1em solid #748FA8;
    padding: 1em;
    overflow: hidden;
    border-radius: 1.5em;
    background-color: rgba(47, 51, 66, 0.9);
}

.vulcao-info {
    width: 35%;
    font-family: Consolas;
}

.vulcao-img {
    margin-left: 2em;
    width: 65%;
}

.vulcao-img img {
    width: 100%;
    border-radius: 1.5em;
}

.vulcao-info h1, h2, p {
    color: var(--branco-azulado);
}

.vulcao-info p {
    margin-top: 1em;
    text-indent: 2.5em;
    text-align: justify;
    font-size: 1.2em;
}