* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A1F23;
    
     /* Imagem de fundo */
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.menubar {
    background-color: #172533;
    min-height: 4em;
    padding: 1em;
    display: flex;
}

.menulogo, .menusouce {
    width: 5%;
}

.menucontent {
    width: 90%;
    font-family: Consolas;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0em 1em;
}

.menucontent a {
    color: #C6DCF2;
    text-decoration: none;
}

.menulogo img, .menusouce img {
    border-radius: 50%;
    width: 100%;
}

.menusouce img {
    float: right;
}

.menusouce {
    float: right;
}

.conteudo {
    margin: 2em;
}

.conteudo-row {
    display: flex;
    align-items: stretch;
}

.bloco {
    margin: 1em;
    background-color: #172533;
    border: .1em solid #748FA8;
    border-radius: 1em;
    padding: 1em;
    width: 25%;
    font-family: 'Roboto Mono', monospace;
}

.bloco-titulo {
    color: #C6DCF2;
    font-size: 1em;
    margin-bottom: 0.5em;
}

.bloco-conteudo img {
    border-radius: 1em;
    width: 100%;
}

.bloco-butao {
    text-align: center;
    border: 0.3em solid #306899;
    border-radius: 1em;
    background-color: #123456;
}

.bloco-butao a {
    width: 100%;
    color: #C6DCF2;
    text-decoration: none;
}
